<h1>{{book.title}}</h1>
{{#if authors}}
  Written by {{#each authors}}{{this.firstName}} {{this.lastName}}{{#unless @last}}, {{/unless}}{{/each}}
{{/if}}
<p>
  Originally published in {{book.publishingYear}}
</p>
{{#if genre}}
  <p>
    genre: {{genre.genre}}
  </p>
{{/if}}
{{#if currentUser}}
<div>
  <form action="/books_users/upsert" role="form" method="post">
    <input type="hidden" name="_csrf" value="{{_csrfToken}}">
    <input type="hidden" name="bookId" value="{{bookId}}">
    <input type="hidden" name="userEmail" value="{{currentUser.email}}">
    <label for="status">Status</label>
    <select name="status" id="status">
      {{#unless (and bookUser bookUser.status)}}
        <option disabled selected value>-- select status --</option>
      {{/unless}}
      {{#each statuses}}
        <option value="{{this}}" {{#if (and @root.bookUser (eq @root.bookUser.status this))}}selected{{/if}}>{{this}}</option>
      {{/each}}
    </select>
    <button type="submit">Submit</button>
  </form>
</div>
{{/if}}

<div>
  <h2>Comments</h2>
  {{!--  this is the new comment form which will only show to logged in users --}}
  {{#if currentUser}}
  <div>
    <form action="/comments/upsert" role="form" method="post">
      <input type="hidden" name="_csrf" value="{{_csrfToken}}">
      <input type="hidden" name="bookId" value="{{bookId}}">{{!-- this will keep track of which book this comment belongs to --}}
      <div>
        <label for="text">Add a comment:</label>
        {{!-- the text area for the comment content --}}
        <textarea id="text" name="text" required></textarea>
      </div>
      <button type="submit">Add Comment</button>
    </form>
  </div>
  {{/if}}

  {{!-- this will show the existing comments --}}
  {{#if comments}}
    {{#each comments}}
      <div>
        <p>
          {{!-- this will show the email of who made the comment --}}
          <strong>{{this.userEmail}}</strong>
          {{!-- this shows the edit link only if the current user is the author of this comment --}}
          {{#if (and @root.currentUser (eq @root.currentUser.email this.userEmail))}}
            <a href="/comments/edit?id={{this.id}}">edit</a>
          {{/if}}
        </p>
        {{!-- this will show the actual comment text --}}
        <p>{{this.text}}</p>
      </div>
    {{/each}}
  {{else}}
    <p>No comments yet.</p>
  {{/if}}
</div>