<h1>{{book.title}}</h1>
{{#if authors}}
  Written by {{#each authors}}{{this.firstName}} {{this.lastName}}{{#unless @last}}, {{/unless}}{{/each}}
{{/if}}
<p>
  Originally published in {{book.publishingYear}}
</p>
{{#if genre}}
  <p>
    genre: {{genre.genre}}
  </p>
{{/if}}
{{#if currentUser}}
<div>
  <form action="/books_users/upsert" role="form" method="post">
    <input type="hidden" name="_csrf" value="{{_csrfToken}}">
    <input type="hidden" name="bookId" value="{{bookId}}">
    <input type="hidden" name="userEmail" value="{{currentUser.email}}">
    <label for="status">Status</label>
    <select name="status" id="status">
      {{#unless (and bookUser bookUser.status)}}
        <option disabled selected value>-- select status --</option>
      {{/unless}}
      {{#each statuses}}
        <option value="{{this}}" {{#if (and @root.bookUser (eq @root.bookUser.status this))}}selected{{/if}}>{{this}}</option>
      {{/each}}
    </select>
    <button type="submit">Submit</button>
  </form>
</div>
{{/if}}

<div>
  <h2>Comments</h2>
  <div>
    {{#if currentUser}}
      <form action="/comments/upsert" role="form" method="post">
        <input type="hidden" name="_csrf" value="{{_csrfToken}}">
        <input type="hidden" name="bookId" value="{{bookId}}">
        <input type="hidden" name="userEmail" value="{{currentUser.email}}">
        <div>
          <textarea rows="5" id="comment" name="text">{{comment.text}}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">New comment</button>
      </form>
    {{/if}}
    {{#each comments}}
      <div>
        <p>
          {{this.text}}<br>
          By {{this.userEmail}}
          {{#if (eq @root.currentUser.email this.userEmail) }}
          <br><a href="/comments/edit?id={{this.id}}">Edit</a>
          {{/if}}
      </div>
    {{/each}}
  </div>
</div>

