<section class="" style="padding: 32px 32px 150px 32px; background-color: #E6F5EF;">
    <h1>Find Your Perfect Furry Companion</h1>
    <p>Connect with local shelters and find the perfect dog to adopt. Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
    </p>
</section>
<section style="padding: 32px;">
    <h2 style="text-align: center;">Dogs Looking for Homes</h2>
    <div style="margin-top: 32px; display: flex; flex-direction: row; gap: 16px; flex-wrap: wrap;">
        {{#each dogs}}
        <section style="border: 1px solid #E6F1EB; border-radius: 8px; padding: 32px; width: 48%;">
            <img src="https://loremflickr.com/320/240/dog" alt="Dog" style="width: 50%; border-radius: 8px;">
            <h3 style="margin-top: 16px;">{{this.name}}</h3>
            <p>Breed: {{this.breed}}</p>
            <p>Age: {{this.age}}</p>
            <p>Gender: {{this.gender}}</p>
            <p>Size: {{this.size}}</p>
            <p>Color: {{this.color}}</p>
            <p>Description: {{this.description}}</p>
            <p>Shelter: {{this.shelter.name}}</p>
        </section>
        {{/each}}
    </div>
</section>


<section style="padding: 32px; background-color: #E6F1EB;">
    <h2 style="text-align: center;">How It Works</h2>
    <div style="margin-top: 32px; display: flex; flex-direction: row; gap: 16px;">
        <section style="background-color: white; border: 1px solid lightgray; border-radius: 8px; padding: 32px;">
            <h3>Browse Dogs</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque facilis eius soluta animi, molestias,
                itaque quidem nemo delectus mollitia recusandae officia molestiae libero debitis similique cupiditate
                incidunt maiores voluptas fugiat?</p>
        </section>
        <section style="background-color: white; border: 1px solid lightgray; border-radius: 8px; padding: 32px;">
            <h3>Submit App</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque facilis eius soluta animi, molestias,
                itaque quidem nemo delectus mollitia recusandae officia molestiae libero debitis similique cupiditate
                incidunt maiores voluptas fugiat?</p>
        </section>
        <section style="background-color: white; border: 1px solid lightgray; border-radius: 8px; padding: 32px;">
            <h3>Get Approved</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque facilis eius soluta animi, molestias,
                itaque quidem nemo delectus mollitia recusandae officia molestiae libero debitis similique cupiditate
                incidunt maiores voluptas fugiat?</p>
        </section>
    </div>
</section>

<section style="padding: 32px;">
    <h2 style="text-align: center;">Partner Shelters</h2>
    <div style="margin-top: 32px; display: flex; flex-direction: row; gap: 16px; flex-wrap: wrap;">
        {{#each shelters}}
        <section
            style="border: 1px solid #E6F1EB; border-radius: 8px; padding: 32px; width: 48%; background-color: #E6F5EF;">
            <h3>{{this.name}}</h3>
            <p>{{this.city}}, {{this.state}}</p>
            <p>{{this.email}}</p>
        </section>
        {{/each}}
    </div>

</section>

<section style="text-align: center; padding: 200px 0 8px 0; background-color: #2D5446;">
    <p style="color: white;">2025 BarkedIn. All rights reserved.</p>
</section>