<section class="px-8 py-32 bg-[#E6F5EF]">
    <div class="max-w-7xl mx-auto">
        <h1 class="text-3xl font-bold text-[#2D5446]">Find Your Perfect Furry Companion</h1>
        <p class="mt-4 font-semibold">Connect with local shelters and find the perfect dog to adopt. Lorem Ipsum Lorem
            Ipsum Lorem Ipsum Lorem Ipsum
    </div>
    </p>
</section>
<section class="px-8 py-16">
    <div class="max-w-7xl mx-auto">
        <h2 class="text-2xl font-bold text-[#2D5446] text-center">Dogs Looking for Homes</h2>
        <div class="mt-8 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
            {{#each dogs}}
            <section class="border-1 border-gray-200 rounded-xl">
                <img src='https://i.postimg.cc/NF0wGDtP/temp-Image-VKAQFJ.avif' alt="Dog"
                    class="w-full px-16 bg-[#E6F1EB] rounded-t-xl opacity-80" />
                <div class="p-8">
                    <h3 class="text-xl font-bold text-[#2D5446]">{{this.name}}</h3>
                    <p>{{this.breed}}</p>
                    <p>{{this.age}} years old</p>
                    <p>{{this.shelter.name}}</p>
                    <p>Bio: {{this.description}}</p>
                    <div class="flex flex-row gap-2 mt-2">
                        <p class="rounded-xl bg-[#E6F1EB] px-3 py-1">{{this.gender}}</p>
                        <p class="rounded-xl bg-[#E6F1EB] px-3 py-1">{{this.size}}</p>
                        <p class="rounded-xl bg-[#E6F1EB] px-3 py-1">{{this.color}}</p>
                    </div>
                </div>
            </section>
            {{/each}}
        </div>
    </div>
</section>


<section class="px-8 py-16 bg-[#E6F1EB]">
    <div class="max-w-7xl mx-auto">
        <h2 class="text-2xl font-bold text-[#2D5446] text-center">How It Works</h2>
        <div class="mt-8 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
            <section class="border-1 border-gray-200 rounded-xl p-8 bg-white">
                <h3 class="text-xl font-bold text-[#2D5446]">1. Browse Dogs</h3>
                <p class="mt-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque facilis eius soluta
                    animi, molestias,
                    itaque quidem nemo delectus mollitia recusandae officia molestiae libero debitis similique
                    cupiditate
                    incidunt maiores voluptas fugiat?</p>
            </section>
            <section class="border-1 border-gray-200 rounded-xl p-8 bg-white">
                <h3 class="text-xl font-bold text-[#2D5446]">2. Submit App</h3>
                <p class="mt-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque facilis eius soluta
                    animi, molestias,
                    itaque quidem nemo delectus mollitia recusandae officia molestiae libero debitis similique
                    cupiditate
                    incidunt maiores voluptas fugiat?</p>
            </section>
            <section class="border-1 border-gray-200 rounded-xl p-8 bg-white">
                <h3 class="text-xl font-bold text-[#2D5446]">3. Get Approved</h3>
                <p class="mt-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque facilis eius soluta
                    animi, molestias,
                    itaque quidem nemo delectus mollitia recusandae officia molestiae libero debitis similique
                    cupiditate
                    incidunt maiores voluptas fugiat?</p>
            </section>
        </div>
    </div>
</section>

<section class="px-8 py-16">
    <div class="max-w-7xl mx-auto">
        <h2 class="text-2xl font-bold text-[#2D5446] text-center">Partner Shelters</h2>
        <div class="mt-8 grid grid-cols-1 sm:grid-cols-2 gap-4">
            {{#each shelters}}
            <section class="border-1 border-gray-200 rounded-xl p-8 bg-[#E6F5EF]">
                <h3 class="text-xl font-bold text-[#2D5446]">{{this.name}}</h3>
                <p class="mt-4">{{this.city}}, {{this.state}}</p>
                <p>{{this.email}}</p>
                <p>{{this.phone}}</p>
            </section>
            {{/each}}
        </div>
    </div>
</section>

<section class="pt-48 pb-4 bg-[#2D5446]">
    <p class="text-white text-center">2025 BarkedIn. All rights reserved.</p>
</section>