<div style="padding: 32px; width: 75%; margin: 0 auto;">
<h1>Dog Adoption Application</h1>
    <p>Please fill out this form to apply to adopt a dog from our network</p>

<section style="border: 1px solid #E6F1EB; border-radius: 8px; padding: 32px;">
    <img src='https://i.postimg.cc/NF0wGDtP/temp-Image-VKAQFJ.avif' alt="Dog" style="width: 50%; border-radius: 8px;"/>
    <h3 style="margin-top: 16px;">{{dog.name}}</h3>
    <p>Breed: {{dog.breed}}</p>
    <p>Age: {{dog.age}}</p>
    <p>Gender: {{dog.gender}}</p>
    <p>Size: {{dog.size}}</p>
    <p>Color: {{dog.color}}</p>
    <p>Description: {{dog.description}}</p>
    <p>Shelter: {{dog.shelter.name}}</p>
</section>

<form action="/applications/insert" role="form" method="post" style="margin-top: 32px;">
    
  <input type="hidden" name="_csrf" value="{{_csrfToken}}">
  <input type="hidden" name="dogId" value="{{dog.id}}">
  <div class="mb-4">
    <label for="name" class="form-label">Name</label>
    <input type="text" id="name" name="name" class="form-control">
  </div>
  <div class="mb-4">
    <label for="phone" class="form-label">Phone</label>
    <input type="tel" id="phone" name="phone" class="form-control">
  </div>
  <div class="mb-4">
    <label for="address" class="form-label">Address</label>
    <input type="text" id="address" name="address" class="form-control">
  </div>
  <div style="display: flex; flex-direction: row; gap: 16px;">
    <div>
        <label for="city" class="form-label">City</label>
        <input type="text" id="city" name="city" class="form-control">
    </div>
    <div>
        <label for="state" class="form-label">State</label>
        <input type="text" id="state" name="state" class="form-control">
    </div>
    <div>
        <label for="zipCode" class="form-label">Zip Code</label>
        <input type="text" id="zipCode" name="zipCode   " class="form-control">
    </div>
  </div>
      <div class="mt-4 mb-4">
    <label for="housingType" class="form-label">Housing Type</label>
    <select id="housingType" name="housingType" class="form-control">
      <option value="">Select one</option>
      <option value="apartment">Apartment</option>
      <option value="townhouse">Townhouse</option>
      <option value="house">House</option>
    </select>
  </div>
  <div class="mb-4">
    <label for="activityLevel" class="form-label">Your Activity Level</label>
    <select id="activityLevel" name="activityLevel" class="form-control">
      <option value="">Select one</option>
      <option value="mild">Mild</option>
      <option value="medium">Medium</option>
      <option value="high">High</option>
    </select>
  </div>
  <div class="mb-4">
    <label for="reason" class="form-label">Why do you want to adopt this dog?</label>
    <textarea id="reason" name="reason" class="form-control" rows="4"></textarea>
  </div>
  <div class="mb-4">
    <label for="notes" class="form-label">Any additional information you'd like to share?</label>
    <textarea id="notes" name="notes" class="form-control" rows="4"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>