<h1>{{book.title}}</h1>

{{#if authors}}
  Written by {{#each authors}}{{this.firstName}} {{this.lastName}}{{#unless @last}}, {{/unless}}{{/each}}
{{/if}}

<p>
  Originally published in {{book.publishingYear}}
</p>

{{#if genre}} {{!-- a section to see the type of genre associated with this book --}}
<p> Genre: <a href="/genres/show/{{genre.id}}">{{genre.type}}</a></p>
{{/if}}


