<h1>{{genre.type}}</h1>
<p>{{genre.description}}</p>

<h2>Books in this genre:</h2>

{{#if books}}
    {{#each books}}
      <li><a href="/books/show/{{this.index}}">{{this.title}}</a></li>
    {{/each}}
{{else}}
  <p>No books found in this genre.</p>
{{/if}} 